{% extends 'base.html' %}
{% block title%}
{{title}}
{% endblock %}
{% block content %}
<h1 class="h1">Добро пожаловать в интернет-магазин</h1>
{% if products %}
<h2 class="h2">Наши товары:</h2>
<div class="product_table">
  {% for product in products %}
  <div class="product">
    <h3 class="h3">{{ product.name }}</h3>
    {% load static %}
    <img
      class="product_small_image"
      src="{{ product.photo.url }}"
      alt="{{ product.name }}"
    />
    <p class="get_summary">{{ product.get_summary }}</p>
    <p class="price">{{ product.price }}</p>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
