{% extends 'base.html' %}
{% block title%}
{{title}}
{% endblock %}
{% block content %}
<h1 class="h1">Добро пожаловать в интернет-магазин</h1>
{% if products %}
<h2 class="h2">Наши товары:</h2>
<div class="product_table_home">
  {% for product in products %}
  <div class="product_small_card">
    <div class="product_small_image_div">
      {% load static %}
    <img class="product_small_image" src="{{ product.photo.url }}" alt="{{ product.name }}"/>
    </div>
    <div class="product_small_description">
      <h3 class="h3">{{ product.name }}</h3>
      <p class="get_summary">{{ product.get_summary }}</p>
      <p class="price">Цена: {{ product.price }}</p>
  </div>
    </div>

  {% endfor %}
</div>
{% endif %}
{% endblock %}
